@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap");

/* default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#logo {
  float: left;
  height: 20vh;
}

body {
  background: #faf3eb;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 32px;
}

/* puts each section in a square */
.container,
#display-student {
  border: 1.5px solid #01092e;
  padding: 30px;
  width: 100%;
  max-width: 850px;
  margin: 0 auto 29px; /*spacing per container */
}

/* header */
header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
}

header h2 {
  font-size: 16px;
  font-weight: 400;
}

#main-title {
  font-size: 34px;
  font-weight: 500;
  color: #01092e;
  font-family: "Konkhmer Sleokchher", cursive;
}

/* date card */
#show-date-time {
  background: #0b1956;
  color: #faf3eb;
  text-align: center;
  min-height: 150px;
}

/* form card */
#form {
  background: #e5d8c7;
  color: #0b1956;
  display: flex; /* make elements be side by side */
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.form-text {
  font-size: 15px;
}

.form-instructions {
  width: 42%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.maintext {
  line-height: 1.4;
  max-width: 260px;
}

.subtext {
  font-size: 14px;
  line-height: 1.4;
  max-width: 320px;
}

#form form {
  width: 48%;
  background: #faf3eb;
  border-radius: 10px;
  border: 1px solid #0b1956;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 240px;
  justify-content: flex-end;
}

/* search card */
#search-student {
  background: #01092e;
  color: #faf3eb;
  text-align: center;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search-student button {
  margin-top: 16px;
  background: #faf3eb;
  color: #0b1956;
}

/* display all card */
#display-student {
  background: #fef0e5;
  color: #0b1956;
  text-align: center;
  min-height: 150px;
}

/* repeated text blocks */
.text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 18px;
}

/* inputs */
input,
select {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #6f78a8;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  background: #f7f7f7;
}

/* buttons */
button {
  align-self: center;
  background: #0b1956;
  border: 1px solid #0b1956;
  color: #faf3eb;
  border-radius: 20px;
  padding: 10px 24px;
  font-size: 14px;
  cursor: pointer;
}

#show-date-time button {
  background: #faf3eb;
  color: #0b1956;
  border: 1px solid #01092e;
  margin-bottom: 16px;
}

button:hover {
  opacity: 0.9;
}

/* output text */
#studentDisplay,
#studentList,
#currentDate,
#currentTime {
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.5;
}

#studentDisplay table{
  width: fit-content;
  align-items: center;
  border-collapse: collapse;
  margin: 0 auto;
}

#studentDisplay table th {
  border: 2px solid #ffffff;
  color: #f1f0ed;
  background-color: #081ca3;
  width: 10vw;
}

#studentDisplay table td {
  background-color: #e5d8c7;
  color: #080514;
  border-bottom: 2px solid #ffffff;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 25vw;
}

/* directory display */
#studentList table {
  width: 100%;
  align-items: center;
  border-collapse: collapse;
}

#studentList table th:nth-child(even) {
  border: 2px solid #ffffff;
  color: #f1f0ed;
  background-color: #00020f;
}

#studentList table th:nth-child(odd) {
  border: 2px solid #ffffff;
  color: #f1f0ed;
  background-color: #10247c;
}

/* number */
#studentList table th:nth-child(1) {
  width: 20%;
}

/* name */
#studentList table th:nth-child(2) {
  width: 40%;
}

/* age */
#studentList table th:nth-child(3) {
  width: 10%;
}

/* course */
#studentList table th:nth-child(4) {
  width: 30%;
}

/* per row below thead */
#studentList table tr {
  border-bottom: 2px solid #00020f;
}
/* end directory display */
